In [2]:
import pandas as pd

In [4]:
df = pd.read_csv('./data/application_train.csv', index_col=0)

In [6]:
df.columns[:30]
# primeiras colunas

Index(['TARGET', 'NAME_CONTRACT_TYPE', 'CODE_GENDER', 'FLAG_OWN_CAR',
       'FLAG_OWN_REALTY', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL', 'AMT_CREDIT',
       'AMT_ANNUITY', 'AMT_GOODS_PRICE', 'NAME_TYPE_SUITE', 'NAME_INCOME_TYPE',
       'NAME_EDUCATION_TYPE', 'NAME_FAMILY_STATUS', 'NAME_HOUSING_TYPE',
       'REGION_POPULATION_RELATIVE', 'DAYS_BIRTH', 'DAYS_EMPLOYED',
       'DAYS_REGISTRATION', 'DAYS_ID_PUBLISH', 'OWN_CAR_AGE', 'FLAG_MOBIL',
       'FLAG_EMP_PHONE', 'FLAG_WORK_PHONE', 'FLAG_CONT_MOBILE', 'FLAG_PHONE',
       'FLAG_EMAIL', 'OCCUPATION_TYPE', 'CNT_FAM_MEMBERS',
       'REGION_RATING_CLIENT'],
      dtype='object')

In [7]:
semente = 2306 #Data de anivers√°rio

In [8]:
df_temp=df.iloc[:,31:]

In [9]:
df_temp.columns
#colunas ate o final

Index(['WEEKDAY_APPR_PROCESS_START', 'HOUR_APPR_PROCESS_START',
       'REG_REGION_NOT_LIVE_REGION', 'REG_REGION_NOT_WORK_REGION',
       'LIVE_REGION_NOT_WORK_REGION', 'REG_CITY_NOT_LIVE_CITY',
       'REG_CITY_NOT_WORK_CITY', 'LIVE_CITY_NOT_WORK_CITY',
       'ORGANIZATION_TYPE', 'EXT_SOURCE_1', 'EXT_SOURCE_2', 'EXT_SOURCE_3',
       'APARTMENTS_AVG', 'BASEMENTAREA_AVG', 'YEARS_BEGINEXPLUATATION_AVG',
       'YEARS_BUILD_AVG', 'COMMONAREA_AVG', 'ELEVATORS_AVG', 'ENTRANCES_AVG',
       'FLOORSMAX_AVG', 'FLOORSMIN_AVG', 'LANDAREA_AVG',
       'LIVINGAPARTMENTS_AVG', 'LIVINGAREA_AVG', 'NONLIVINGAPARTMENTS_AVG',
       'NONLIVINGAREA_AVG', 'APARTMENTS_MODE', 'BASEMENTAREA_MODE',
       'YEARS_BEGINEXPLUATATION_MODE', 'YEARS_BUILD_MODE', 'COMMONAREA_MODE',
       'ELEVATORS_MODE', 'ENTRANCES_MODE', 'FLOORSMAX_MODE', 'FLOORSMIN_MODE',
       'LANDAREA_MODE', 'LIVINGAPARTMENTS_MODE', 'LIVINGAREA_MODE',
       'NONLIVINGAPARTMENTS_MODE', 'NONLIVINGAREA_MODE', 'APARTMENTS_MEDI',
       'BASEMENTAREA_MEDI', 'YEARS_BEGINEXPLUATATION_MEDI', 'YEARS_BUILD_MEDI',
       'COMMONAREA_MEDI', 'ELEVATORS_MEDI', 'ENTRANCES_MEDI', 'FLOORSMAX_MEDI',
       'FLOORSMIN_MEDI', 'LANDAREA_MEDI', 'LIVINGAPARTMENTS_MEDI',
       'LIVINGAREA_MEDI', 'NONLIVINGAPARTMENTS_MEDI', 'NONLIVINGAREA_MEDI',
       'FONDKAPREMONT_MODE', 'HOUSETYPE_MODE', 'TOTALAREA_MODE',
       'WALLSMATERIAL_MODE', 'EMERGENCYSTATE_MODE', 'OBS_30_CNT_SOCIAL_CIRCLE',
       'DEF_30_CNT_SOCIAL_CIRCLE', 'OBS_60_CNT_SOCIAL_CIRCLE',
       'DEF_60_CNT_SOCIAL_CIRCLE', 'DAYS_LAST_PHONE_CHANGE', 'FLAG_DOCUMENT_2',
       'FLAG_DOCUMENT_3', 'FLAG_DOCUMENT_4', 'FLAG_DOCUMENT_5',
       'FLAG_DOCUMENT_6', 'FLAG_DOCUMENT_7', 'FLAG_DOCUMENT_8',
       'FLAG_DOCUMENT_9', 'FLAG_DOCUMENT_10', 'FLAG_DOCUMENT_11',
       'FLAG_DOCUMENT_12', 'FLAG_DOCUMENT_13', 'FLAG_DOCUMENT_14',
       'FLAG_DOCUMENT_15', 'FLAG_DOCUMENT_16', 'FLAG_DOCUMENT_17',
       'FLAG_DOCUMENT_18', 'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20',
       'FLAG_DOCUMENT_21', 'AMT_REQ_CREDIT_BUREAU_HOUR',
       'AMT_REQ_CREDIT_BUREAU_DAY', 'AMT_REQ_CREDIT_BUREAU_WEEK',
       'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_QRT',
       'AMT_REQ_CREDIT_BUREAU_YEAR'],
      dtype='object')

In [10]:
df_temp.head()

,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_1,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
SK_ID_CURR,,,,,,,,,,,,,,,,,,,,,
100002,WEDNESDAY,10,0,0,0,0,0,0,Business Entity Type 3,0.083037,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
100003,MONDAY,11,0,0,0,0,0,0,School,0.311267,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
100004,MONDAY,9,0,0,0,0,0,0,Government,NaN,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
100006,WEDNESDAY,17,0,0,0,0,0,0,Business Entity Type 3,NaN,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
100007,THURSDAY,11,0,0,0,0,1,1,Religion,NaN,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [20]:
df40 = pd.concat([df.iloc[:,0:30], df_temp.sample(10,axis=1,random_state=semente)], axis=1)

In [21]:
df

,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,FLAG_DOCUMENT_19,FLAG_DOCUMENT_8,FLAG_DOCUMENT_4,NONLIVINGAPARTMENTS_MODE,ENTRANCES_MEDI,FLAG_DOCUMENT_21,HOUR_APPR_PROCESS_START,LIVINGAPARTMENTS_AVG,FLOORSMAX_MODE,EXT_SOURCE_2
SK_ID_CURR,,,,,,,,,,,,,,,,,,,,,
100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,351000.0,...,0,0,0,0.0,0.0690,0,10,0.0202,0.0833,0.262949
100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,1129500.0,...,0,0,0,0.0,0.0345,0,11,0.0773,0.2917,0.622246
100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,135000.0,...,0,0,0,NaN,NaN,0,9,NaN,NaN,0.555912
100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,297000.0,...,0,0,0,NaN,NaN,0,17,NaN,NaN,0.650442
100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,513000.0,...,0,1,0,NaN,NaN,0,11,NaN,NaN,0.322738

In [22]:
df40.columns

Index(['TARGET', 'NAME_CONTRACT_TYPE', 'CODE_GENDER', 'FLAG_OWN_CAR',
       'FLAG_OWN_REALTY', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL', 'AMT_CREDIT',
       'AMT_ANNUITY', 'AMT_GOODS_PRICE', 'NAME_TYPE_SUITE', 'NAME_INCOME_TYPE',
       'NAME_EDUCATION_TYPE', 'NAME_FAMILY_STATUS', 'NAME_HOUSING_TYPE',
       'REGION_POPULATION_RELATIVE', 'DAYS_BIRTH', 'DAYS_EMPLOYED',
       'DAYS_REGISTRATION', 'DAYS_ID_PUBLISH', 'OWN_CAR_AGE', 'FLAG_MOBIL',
       'FLAG_EMP_PHONE', 'FLAG_WORK_PHONE', 'FLAG_CONT_MOBILE', 'FLAG_PHONE',
       'FLAG_EMAIL', 'OCCUPATION_TYPE', 'CNT_FAM_MEMBERS',
       'REGION_RATING_CLIENT', 'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_8',
       'FLAG_DOCUMENT_4', 'NONLIVINGAPARTMENTS_MODE', 'ENTRANCES_MEDI',
       'FLAG_DOCUMENT_21', 'HOUR_APPR_PROCESS_START', 'LIVINGAPARTMENTS_AVG',
       'FLOORSMAX_MODE', 'EXT_SOURCE_2'],
      dtype='object')

In [23]:
i = 1
for x in df40.columns:
    print(str(i) + " - " + x)
    i += 1

1 - TARGET
2 - NAME_CONTRACT_TYPE
3 - CODE_GENDER
4 - FLAG_OWN_CAR
5 - FLAG_OWN_REALTY
6 - CNT_CHILDREN
7 - AMT_INCOME_TOTAL
8 - AMT_CREDIT
9 - AMT_ANNUITY
10 - AMT_GOODS_PRICE
11 - NAME_TYPE_SUITE
12 - NAME_INCOME_TYPE
13 - NAME_EDUCATION_TYPE
14 - NAME_FAMILY_STATUS
15 - NAME_HOUSING_TYPE
16 - REGION_POPULATION_RELATIVE
17 - DAYS_BIRTH
18 - DAYS_EMPLOYED
19 - DAYS_REGISTRATION
20 - DAYS_ID_PUBLISH
21 - OWN_CAR_AGE
22 - FLAG_MOBIL
23 - FLAG_EMP_PHONE
24 - FLAG_WORK_PHONE
25 - FLAG_CONT_MOBILE
26 - FLAG_PHONE
27 - FLAG_EMAIL
28 - OCCUPATION_TYPE
29 - CNT_FAM_MEMBERS
30 - REGION_RATING_CLIENT
31 - FLAG_DOCUMENT_19
32 - FLAG_DOCUMENT_8
33 - FLAG_DOCUMENT_4
34 - NONLIVINGAPARTMENTS_MODE
35 - ENTRANCES_MEDI
36 - FLAG_DOCUMENT_21
37 - HOUR_APPR_PROCESS_START
38 - LIVINGAPARTMENTS_AVG
39 - FLOORSMAX_MODE
40 - EXT_SOURCE_2

# Sorteio - v2

In [38]:
df = pd.read_csv('./data/application_train.csv', index_col=0)

In [39]:
df.reset_index(inplace = True)

In [40]:
semente = 2306 #Data de anivers√°rio

In [60]:
# Imprime todas as colunas
i = 1
for x in df.columns:
    print(str(i) + " - " + x)
    i += 1

1 - SK_ID_CURR
2 - TARGET
3 - NAME_CONTRACT_TYPE
4 - CODE_GENDER
5 - FLAG_OWN_CAR
6 - FLAG_OWN_REALTY
7 - CNT_CHILDREN
8 - AMT_INCOME_TOTAL
9 - AMT_CREDIT
10 - AMT_ANNUITY
11 - AMT_GOODS_PRICE
12 - NAME_TYPE_SUITE
13 - NAME_INCOME_TYPE
14 - NAME_EDUCATION_TYPE
15 - NAME_FAMILY_STATUS
16 - NAME_HOUSING_TYPE
17 - REGION_POPULATION_RELATIVE
18 - DAYS_BIRTH
19 - DAYS_EMPLOYED
20 - DAYS_REGISTRATION
21 - DAYS_ID_PUBLISH
22 - OWN_CAR_AGE
23 - FLAG_MOBIL
24 - FLAG_EMP_PHONE
25 - FLAG_WORK_PHONE
26 - FLAG_CONT_MOBILE
27 - FLAG_PHONE
28 - FLAG_EMAIL
29 - OCCUPATION_TYPE
30 - CNT_FAM_MEMBERS
31 - REGION_RATING_CLIENT
32 - REGION_RATING_CLIENT_W_CITY
33 - WEEKDAY_APPR_PROCESS_START
34 - HOUR_APPR_PROCESS_START
35 - REG_REGION_NOT_LIVE_REGION
36 - REG_REGION_NOT_WORK_REGION
37 - LIVE_REGION_NOT_WORK_REGION
38 - REG_CITY_NOT_LIVE_CITY
39 - REG_CITY_NOT_WORK_CITY
40 - LIVE_CITY_NOT_WORK_CITY
41 - ORGANIZATION_TYPE
42 - EXT_SOURCE_1
43 - EXT_SOURCE_2
44 - EXT_SOURCE_3
45 - APARTMENTS_AVG
46 - BASEMENTAREA_AVG
47 - YEARS_BEGINEXPLUATATION_AVG
48 - YEARS_BUILD_AVG
49 - COMMONAREA_AVG
50 - ELEVATORS_AVG
51 - ENTRANCES_AVG
52 - FLOORSMAX_AVG
53 - FLOORSMIN_AVG
54 - LANDAREA_AVG
55 - LIVINGAPARTMENTS_AVG
56 - LIVINGAREA_AVG
57 - NONLIVINGAPARTMENTS_AVG
58 - NONLIVINGAREA_AVG
59 - APARTMENTS_MODE
60 - BASEMENTAREA_MODE
61 - YEARS_BEGINEXPLUATATION_MODE
62 - YEARS_BUILD_MODE
63 - COMMONAREA_MODE
64 - ELEVATORS_MODE
65 - ENTRANCES_MODE
66 - FLOORSMAX_MODE
67 - FLOORSMIN_MODE
68 - LANDAREA_MODE
69 - LIVINGAPARTMENTS_MODE
70 - LIVINGAREA_MODE
71 - NONLIVINGAPARTMENTS_MODE
72 - NONLIVINGAREA_MODE
73 - APARTMENTS_MEDI
74 - BASEMENTAREA_MEDI
75 - YEARS_BEGINEXPLUATATION_MEDI
76 - YEARS_BUILD_MEDI
77 - COMMONAREA_MEDI
78 - ELEVATORS_MEDI
79 - ENTRANCES_MEDI
80 - FLOORSMAX_MEDI
81 - FLOORSMIN_MEDI
82 - LANDAREA_MEDI
83 - LIVINGAPARTMENTS_MEDI
84 - LIVINGAREA_MEDI
85 - NONLIVINGAPARTMENTS_MEDI
86 - NONLIVINGAREA_MEDI
87 - FONDKAPREMONT_MODE
88 - HOUSETYPE_MODE
89 - TOTALAREA_MODE
90 - WALLSMATERIAL_MODE
91 - EMERGENCYSTATE_MODE
92 - OBS_30_CNT_SOCIAL_CIRCLE
93 - DEF_30_CNT_SOCIAL_CIRCLE
94 - OBS_60_CNT_SOCIAL_CIRCLE
95 - DEF_60_CNT_SOCIAL_CIRCLE
96 - DAYS_LAST_PHONE_CHANGE
97 - FLAG_DOCUMENT_2
98 - FLAG_DOCUMENT_3
99 - FLAG_DOCUMENT_4
100 - FLAG_DOCUMENT_5
101 - FLAG_DOCUMENT_6
102 - FLAG_DOCUMENT_7
103 - FLAG_DOCUMENT_8
104 - FLAG_DOCUMENT_9
105 - FLAG_DOCUMENT_10
106 - FLAG_DOCUMENT_11
107 - FLAG_DOCUMENT_12
108 - FLAG_DOCUMENT_13
109 - FLAG_DOCUMENT_14
110 - FLAG_DOCUMENT_15
111 - FLAG_DOCUMENT_16
112 - FLAG_DOCUMENT_17
113 - FLAG_DOCUMENT_18
114 - FLAG_DOCUMENT_19
115 - FLAG_DOCUMENT_20
116 - FLAG_DOCUMENT_21
117 - AMT_REQ_CREDIT_BUREAU_HOUR
118 - AMT_REQ_CREDIT_BUREAU_DAY
119 - AMT_REQ_CREDIT_BUREAU_WEEK
120 - AMT_REQ_CREDIT_BUREAU_MON
121 - AMT_REQ_CREDIT_BUREAU_QRT
122 - AMT_REQ_CREDIT_BUREAU_YEAR

In [61]:
df_temp=df.iloc[:,30:]

In [62]:
# Imprime as colunas n√£o aleat√≥rias > 30
i = 31
for x in df_temp.columns:
    print(str(i) + " - " + x)
    i += 1

31 - REGION_RATING_CLIENT
32 - REGION_RATING_CLIENT_W_CITY
33 - WEEKDAY_APPR_PROCESS_START
34 - HOUR_APPR_PROCESS_START
35 - REG_REGION_NOT_LIVE_REGION
36 - REG_REGION_NOT_WORK_REGION
37 - LIVE_REGION_NOT_WORK_REGION
38 - REG_CITY_NOT_LIVE_CITY
39 - REG_CITY_NOT_WORK_CITY
40 - LIVE_CITY_NOT_WORK_CITY
41 - ORGANIZATION_TYPE
42 - EXT_SOURCE_1
43 - EXT_SOURCE_2
44 - EXT_SOURCE_3
45 - APARTMENTS_AVG
46 - BASEMENTAREA_AVG
47 - YEARS_BEGINEXPLUATATION_AVG
48 - YEARS_BUILD_AVG
49 - COMMONAREA_AVG
50 - ELEVATORS_AVG
51 - ENTRANCES_AVG
52 - FLOORSMAX_AVG
53 - FLOORSMIN_AVG
54 - LANDAREA_AVG
55 - LIVINGAPARTMENTS_AVG
56 - LIVINGAREA_AVG
57 - NONLIVINGAPARTMENTS_AVG
58 - NONLIVINGAREA_AVG
59 - APARTMENTS_MODE
60 - BASEMENTAREA_MODE
61 - YEARS_BEGINEXPLUATATION_MODE
62 - YEARS_BUILD_MODE
63 - COMMONAREA_MODE
64 - ELEVATORS_MODE
65 - ENTRANCES_MODE
66 - FLOORSMAX_MODE
67 - FLOORSMIN_MODE
68 - LANDAREA_MODE
69 - LIVINGAPARTMENTS_MODE
70 - LIVINGAREA_MODE
71 - NONLIVINGAPARTMENTS_MODE
72 - NONLIVINGAREA_MODE
73 - APARTMENTS_MEDI
74 - BASEMENTAREA_MEDI
75 - YEARS_BEGINEXPLUATATION_MEDI
76 - YEARS_BUILD_MEDI
77 - COMMONAREA_MEDI
78 - ELEVATORS_MEDI
79 - ENTRANCES_MEDI
80 - FLOORSMAX_MEDI
81 - FLOORSMIN_MEDI
82 - LANDAREA_MEDI
83 - LIVINGAPARTMENTS_MEDI
84 - LIVINGAREA_MEDI
85 - NONLIVINGAPARTMENTS_MEDI
86 - NONLIVINGAREA_MEDI
87 - FONDKAPREMONT_MODE
88 - HOUSETYPE_MODE
89 - TOTALAREA_MODE
90 - WALLSMATERIAL_MODE
91 - EMERGENCYSTATE_MODE
92 - OBS_30_CNT_SOCIAL_CIRCLE
93 - DEF_30_CNT_SOCIAL_CIRCLE
94 - OBS_60_CNT_SOCIAL_CIRCLE
95 - DEF_60_CNT_SOCIAL_CIRCLE
96 - DAYS_LAST_PHONE_CHANGE
97 - FLAG_DOCUMENT_2
98 - FLAG_DOCUMENT_3
99 - FLAG_DOCUMENT_4
100 - FLAG_DOCUMENT_5
101 - FLAG_DOCUMENT_6
102 - FLAG_DOCUMENT_7
103 - FLAG_DOCUMENT_8
104 - FLAG_DOCUMENT_9
105 - FLAG_DOCUMENT_10
106 - FLAG_DOCUMENT_11
107 - FLAG_DOCUMENT_12
108 - FLAG_DOCUMENT_13
109 - FLAG_DOCUMENT_14
110 - FLAG_DOCUMENT_15
111 - FLAG_DOCUMENT_16
112 - FLAG_DOCUMENT_17
113 - FLAG_DOCUMENT_18
114 - FLAG_DOCUMENT_19
115 - FLAG_DOCUMENT_20
116 - FLAG_DOCUMENT_21
117 - AMT_REQ_CREDIT_BUREAU_HOUR
118 - AMT_REQ_CREDIT_BUREAU_DAY
119 - AMT_REQ_CREDIT_BUREAU_WEEK
120 - AMT_REQ_CREDIT_BUREAU_MON
121 - AMT_REQ_CREDIT_BUREAU_QRT
122 - AMT_REQ_CREDIT_BUREAU_YEAR

In [63]:
df30 = df.iloc[:,0:30]

In [57]:
# Imprime 30 colunas obrigat√≥rias:
i = 1
for x in df30.columns:
    print(str(i) + " - " + x)
    i += 1

1 - SK_ID_CURR
2 - TARGET
3 - NAME_CONTRACT_TYPE
4 - CODE_GENDER
5 - FLAG_OWN_CAR
6 - FLAG_OWN_REALTY
7 - CNT_CHILDREN
8 - AMT_INCOME_TOTAL
9 - AMT_CREDIT
10 - AMT_ANNUITY
11 - AMT_GOODS_PRICE
12 - NAME_TYPE_SUITE
13 - NAME_INCOME_TYPE
14 - NAME_EDUCATION_TYPE
15 - NAME_FAMILY_STATUS
16 - NAME_HOUSING_TYPE
17 - REGION_POPULATION_RELATIVE
18 - DAYS_BIRTH
19 - DAYS_EMPLOYED
20 - DAYS_REGISTRATION
21 - DAYS_ID_PUBLISH
22 - OWN_CAR_AGE
23 - FLAG_MOBIL
24 - FLAG_EMP_PHONE
25 - FLAG_WORK_PHONE
26 - FLAG_CONT_MOBILE
27 - FLAG_PHONE
28 - FLAG_EMAIL
29 - OCCUPATION_TYPE
30 - CNT_FAM_MEMBERS

In [64]:
df10 = df_temp.sample(10,axis=1,random_state=semente)

In [65]:
# Imprime as 10 colunas aleat√≥rias:
i = 31
for x in df10.columns:
    print(str(i) + " - " + x)
    i += 1

31 - DEF_30_CNT_SOCIAL_CIRCLE
32 - FLAG_DOCUMENT_8
33 - FLAG_DOCUMENT_3
34 - FLAG_DOCUMENT_15
35 - LIVINGAREA_MEDI
36 - EMERGENCYSTATE_MODE
37 - REGION_RATING_CLIENT_W_CITY
38 - FLOORSMIN_AVG
39 - FLAG_DOCUMENT_19
40 - ORGANIZATION_TYPE

In [50]:
df40 = pd.concat([df.iloc[:,0:30], df_temp.sample(10,axis=1,random_state=semente)], axis=1)

In [67]:
df40 = pd.concat([df30, df10], axis=1)

In [68]:
# Imprime as 40 colunas (30 obrigatorias + 10 aleatorias):
i = 1
for x in df40.columns:
    print(str(i) + " - " + x)
    i += 1

1 - SK_ID_CURR
2 - TARGET
3 - NAME_CONTRACT_TYPE
4 - CODE_GENDER
5 - FLAG_OWN_CAR
6 - FLAG_OWN_REALTY
7 - CNT_CHILDREN
8 - AMT_INCOME_TOTAL
9 - AMT_CREDIT
10 - AMT_ANNUITY
11 - AMT_GOODS_PRICE
12 - NAME_TYPE_SUITE
13 - NAME_INCOME_TYPE
14 - NAME_EDUCATION_TYPE
15 - NAME_FAMILY_STATUS
16 - NAME_HOUSING_TYPE
17 - REGION_POPULATION_RELATIVE
18 - DAYS_BIRTH
19 - DAYS_EMPLOYED
20 - DAYS_REGISTRATION
21 - DAYS_ID_PUBLISH
22 - OWN_CAR_AGE
23 - FLAG_MOBIL
24 - FLAG_EMP_PHONE
25 - FLAG_WORK_PHONE
26 - FLAG_CONT_MOBILE
27 - FLAG_PHONE
28 - FLAG_EMAIL
29 - OCCUPATION_TYPE
30 - CNT_FAM_MEMBERS
31 - DEF_30_CNT_SOCIAL_CIRCLE
32 - FLAG_DOCUMENT_8
33 - FLAG_DOCUMENT_3
34 - FLAG_DOCUMENT_15
35 - LIVINGAREA_MEDI
36 - EMERGENCYSTATE_MODE
37 - REGION_RATING_CLIENT_W_CITY
38 - FLOORSMIN_AVG
39 - FLAG_DOCUMENT_19
40 - ORGANIZATION_TYPE

# Sorteio - V2 Limpo

In [69]:
df = pd.read_csv('./data/application_train.csv', index_col=0)

# Reset do indice para liberar a coluna SK_ID_CURR
df.reset_index(inplace = True)

semente = 2306 #Data de anivers√°rio

# Pegando as 30 colunas obrigat√≥rias
df30 = df.iloc[:,0:30]

# Pegando colunas a partir da 31 (30 pq √© indice 0) para sorteio
df_temp=df.iloc[:,30:]

# Sorteio de 10 colunas com a semente Data Aniversario
df10 = df_temp.sample(10,axis=1,random_state=semente)